@font-face {
	font-family: 'RobotoCondensed-Regular';
	src: url('../fonts/RobotoCondensed-Regular.eot');
	src: url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
	url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoCondensed-Bold';
	src: url('../fonts/RobotoCondensed-Bold.eot');
	src: url('../fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/RobotoCondensed-Bold.woff') format('woff'),
	url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.eot');
	src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Light.woff') format('woff'),
	url('../fonts/Roboto-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.eot');
	src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Medium.woff') format('woff'),
	url('../fonts/Roboto-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto-Bold.eot');
	src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Bold.woff') format('woff'),
	url('../fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OfficinaSerif-Bold';
	src: url('../fonts/OfficinaSerif-Bold.eot');
	src: url('../fonts/OfficinaSerif-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OfficinaSerif-Bold.woff') format('woff'),
	url('../fonts/OfficinaSerif-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
font-family: 'RobotoCondensed-Light';
src: url('../fonts/RobotoCondensed-Light.eot');
src: url('../fonts/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/RobotoCondensed-Light.woff') format('woff'),
url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
.clear_fix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.font-zero{
	font-size: 0;
}
.container-fluid{
	padding: 0;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
}
*{
	padding: 0;
	margin: 0;
	list-style-type: none;
	outline: none;
}
.mobile, .main-block .donation-block.mobile{
	display: none;
}

.navbar-toggle{
	float: none;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 2px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
    width: 15px;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-collapse{
	padding: 0;
}
.navbar-brand{
	height: auto;
	padding: 19px 15px;
}
.navbar-default{
	border-color: transparent;
	background-color: #fff;
	border-radius: 0;
	margin: 0;
	.navbar-nav > li > a {
	    color: #1f1f1f;
	}
}
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 38px 10px 38px 0;
    font: 14px/14px "RobotoCondensed-Bold";
    text-transform: uppercase;
}

.header{
	background: #fff;
	width: 100%;
	border-bottom: 1px solid #e1e1e1;
}
.menu-right{
	display: inline-block;
	vertical-align: middle;
	a.menu-button{
		font: 18px/18px "RobotoCondensed-Bold";
		text-transform: uppercase;
		border-radius: 2px;
		background: #00c09e;
		padding: 15px 35px;
		color: #fff;
		text-decoration: none;
		margin: 0 40px;
	}
	.life-lover{
		position: relative;
		padding-right: 17px;
		&:after{
			position: absolute;
			content: "";
			top: 50%;
			right: -15px;
			transform: translateY(-50%);
			width: 17px;
			height: 12px;
			background: url("../img/arrow.png") no-repeat center center;
		}
	}
}
.float-right{
	float: right;
}
.help-container{
	text-align: center;
	margin-top: 9px;
	padding: 0 15px 20px;
	border-bottom: 1px solid #e1e1e1;
	a.help-button{
		max-width: 265px;
		width: 100%;
		font: 16px/16px "RobotoCondensed-Bold";
		text-transform: uppercase;
		display: block;
		color: #fff;
		background: #00c09e;
		padding: 15px 0;
		text-decoration: none;
		margin: 8px auto;
	}
	a.blue-button{
		background: #4267b2;
	}
}
.main-block{
	background: #f4f4f4;
	width: 100%;
	padding: 40px 0 50px 0;
	font-size: 0;
	.social-left{
		width: 9%;
		margin-right: 70px;
		display: inline-block;
		vertical-align: top;
		p{
			text-transform: uppercase;
			color: #000;
			font: 12px/12px "RobotoCondensed-Regular";
			padding-left: 18px;
			margin-bottom: 25px;
		}
		ul li a{
			width: 38px;
			height: 38px;
			border-radius: 50%;
			display: block;
			margin-left: 35px;
			margin-top: 20px;
		}
		.fb-left{
			background: #4267b2 url("../img/fb.png") no-repeat center center;
			background-size: 24%;
		}
		.tw-left{
			background: #7cbcd9 url("../img/tw.png") no-repeat bottom 10px right 9px;
			background-size: 50%;
		}
	}
	.donation-block{
		width: 26%;
		display: inline-block;
		vertical-align: top;
		background: #fff;
		border: 1px solid #e1e1e1;
		border-radius: 4px;
		margin-right: 40px;
		img{
			width: 100%;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}
		.collected-block{
			font: 16px/16px "RobotoCondensed-Bold";
			text-transform: uppercase;
			padding: 0 15px;
			.label-block{
				color: #a7a7a7;
				font: 12px/12px "RobotoCondensed-Regular";
				display: flex;
				justify-content: space-between;
				max-width: 268px;
				width: 100%;
				margin: 22px auto 0;
				p{
					margin-bottom: 8px;
				}
			}
			.value {
			  width: 100%;
			  max-width: 265px;
			  margin: 0 auto;
			  height: 10px;
			  background: #ffdd00;
			  margin-bottom: 20px;
			  border-radius: 2px;
			  height: 32px;
			  span{
			  	float: right;
			  	margin: 8px 14px;
			  }
			}
		}
		
		.donation-list{
			padding: 25px 20px 45px;
			font: 16px/16px "Roboto-Bold";
			width: 100%;
			margin: 0 auto;
			.title{
				margin-bottom: 15px;
				text-align: center;
			}
			ul{
				border-top: 1px solid #e1e1e1;
				li{
					padding: 10px 0;
					border-bottom: 1px solid #e1e1e1;
					p{
						font-family: "RobotoCondensed-Regular";
						display: inline-block;
						vertical-align: top;
						margin: 0;
						padding-left: 2px;
					}
					span{
						font-family: "RobotoCondensed-Regular";
						display: inline-block;
						vertical-align: top;
						float: right;
						position: relative;
						padding-right: 25px;
						&:after{
							content: "₴";
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							right: 5px;
							width: 16px;
							height: 16px;
							border-radius: 50%;
							background-color: #ffdd00;
							text-align: center;
							font-size: 11px;
						}
					}
				}
			}
		}
		
		progress[value] {
		  -webkit-appearance: none;
		  appearance: none;
		  width: 70%;
		  height: 20px;
		  background-color: red;
		}
		progress[value]::-webkit-progress-bar {
		  background-color: red;
		  border-radius: 2px;
		  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
		}
		progress[value]::-webkit-progress-value {
		  background-image:
			   -webkit-linear-gradient(-45deg,transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%),
			   -webkit-linear-gradient(top, 
			                           rgba(255, 255, 255, .25), 
			                           rgba(0, 0, 0, .25)),
			   -webkit-linear-gradient(left, #09c, #f44);

		    border-radius: 2px; 
		    background-size: 35px 20px, 100% 100%, 100% 100%;
		}

		.value-box {
		  height: 100%;
		  background: #ffc600;
		  width: 36%;
		  border-top-left-radius: 2px;
		  border-bottom-left-radius: 2px;
		  display: inline-block;
		  span{
		  	float: left !important;
		  }
		}
	}

	.text-content{
		width: 49%;
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		.title{
			font: 32px/40px "OfficinaSerif-Bold";
			max-width: 545px;
			letter-spacing: 2px;
		}
		iframe{
			max-width: 566px;
		}
		a{
			color: #747373;
		}
		.desc{
			color: #1f1f1f;
			font: 18px/27px "Roboto-Light";
			margin: 32px 0 52px;
			max-width: 567px
		}
		.ul-title{
			color: #1f1f1f;
			font: 18px/24px "Roboto-Medium";
			margin: 0 0 0px;
			text-transform: uppercase;
		}
		ul li{
			padding-left: 25px;
			position: relative;
			color: #1f1f1f;
			font: 18px/24px "Roboto-Light";
			margin: 15px 0;
			&:before{
				content: "";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 8px;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: #ffdd00;
			}
		}
	}
}
.footer{
	background-color: #1f1f1f;
	padding-bottom: 15px;
	position: relative;
	ul{
		text-align: center;
		padding: 85px 0;
		margin: 0;
		li{
			display: inline-block;
			vertical-align: middle;
			img{
				max-width: 35px;
			}
		}
		.fb-footer{
			margin: 0 38px 0 42px;
			img{
				max-width: 15px;
			}
		}
	}
	.copyright-block{
		width: 100%;
		position: relative;
		color: #fff;
		font: 14px/14px "RobotoCondensed-Light";
		.copyright{
			float: left;
			margin-bottom: 0;
		}
		.creator{
			float: right;
			margin-bottom: 0;
			a{
				display: inline-block;
				width: 27px;
				height: 10px;
				background: url("../img/twid-logo.png") no-repeat center center;
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 992px){
	.main-block .donation-block .collected-block {
	    font: 10px/16px "RobotoCondensed-Bold";
	}
	.main-block .donation-block .donation-list {
	    font: 12px/16px "Roboto-Bold";
	    font-family: "Roboto-Bold";
	}
}
@media (min-width: 768px){
	.navbar-collapse.collapse{
		display: inline-block !important;
		vertical-align: middle;
	}
}
@media (max-width: 768px){
	.menu-right .life-lover, .menu-button, .main-block .social-left{
		display: none;
	}
	.navbar-brand {
	    margin-left: 15px;
	    img{
	    	width: 83px;
	    }
	}
	.float-right{
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		a.menu-button.mobile{
			display: inline-block;
			font-size: 16px;
			margin: 0;
			margin-right: 15px;
		}
	}
	.navbar-default .navbar-toggle{
		position: absolute;
		top: 40%;
		transform: translateY(-50%);
	}
	.main-block{
		padding: 20px 5px;
		.donation-block{
			width: 100%;
			border-color: #ffdd00;
			margin-bottom: 20px;
			.donation-list{
				display: none;
			}
			&.mobile{
				margin-top: 10px;
				display: inline-block;
				border-color: #e1e1e1;
				margin-bottom: 10px;
				.donation-list{
					display: inline-block;
					padding: 20px;
					.read-more{
						font-family: "RobotoCondensed-Regular";
						text-decoration: underline;
						text-align: center;
						margin-top: 15px;
						cursor: pointer;
					}
				}
			}
		}
		.text-content{
			width: 100%;
			padding: 0 15px;
			.title{
				font-size: 20px;
				line-height: 22px;
			}
			iframe{
				display: none;
			}
			.desc{
				margin: 20px 0;
				font-size: 14px;
				line-height: 21px;
			}
			.ul-title, ul li{
				font-size: 14px;
				line-height: 21px;
			}
		}

	}
	body{
		overflow-x: hidden;
	}
	.footer{
		padding-bottom: 130px;
	}
	.footer ul {
	    text-align: center;
	    padding: 75px 0 70px;
	    margin: 0;
	}
	.footer .copyright-block .copyright {
	    float: none;
	    display: block;
	    text-align: center;
	}
	.footer .copyright-block .creator {
	    float: none;
	    display: block;
	    text-align: center;
	    margin: 8px 0;
	}
	.navbar-nav {
	    margin: 0;
	    li > a {
		    padding-top: 0px;
		    padding-bottom: 0px;
		    margin: 20px 0 20px 0;
		    font: 14px/14px "RobotoCondensed-Bold";
		    text-transform: uppercase;
		    width: 100%;
		    padding: 0;
		}
	}
	#navbar-menu{
		position: absolute;
		left: -110px;
		background-color: #fff;
		top: 62px;
		text-align: center;
		width: 100%;
	}
	.fixed-header{
		position: fixed;
		z-index: 10;
	}
	.fixed-container{
		position: fixed;
	    bottom: 0;
	    width: 100%;
	    z-index: 10;
	    .help-container{
	    	background-color: #fff;
			border: 1px solid #e1e1e1;
			border-radius: 4px;
			margin: 0 8px 5px;
			padding: 10px 15px 10px;
			a.help-button {
				padding: 9px 0;
			}
	    }
	}
	.display-block{
		display: block;
	}
}